<br><br>
<div class="d-flex justify-content-center">
	<% if !@post.author?(current_user)%>
		<%= link_to 'Comment!', new_post_comment_path(@post), class:"btn btn-primary"%>
	<%end%>
</div>


	<div class="container mb-5 mt-5">
	<div class="card">
	<div class="col-md-4">
			</div><div class="d-flex justify-content-end">
			<% if @post.author?(current_user)%>
				<div class="card" style="width: 18rem;">
				  <div class="card-header">
				     Likes by users!!
				  </div>
				  <ul class="list-group list-group-flush">
				  	<% @likes.each do |like| %>
				    	<li class="list-group-item"><%=  like.user.email %></li>
				    <%end%>
				  </ul>	  
				</div>
			</div>		
			<%end%>
   
    <div class="row">
      <div class="col-md-8">
        <h3 class="text-center mb-5"> Comments by users!! </h3>
        <% @comments.each do |comment| %>
          <div class="row">
            <div class="col-md-12">
              <div class="media-body">
                <div class="row">
                  <div class="col-8 d-flex">
										<h5><%=comment.user.email%></h5> 
										<span> <--><%=comment.created_at%></span>
                  </div>
                  <div class="col-4">
                    <div class="float-right"> 	
										<%= link_to 'reply', post_comment_new_reply_path(@post ,comment_id: comment.id),  class: 'btn btn-outline-success' %>

                </div>

              </div>
         			<div class="float-right"> 
              	<%=comment.text%>	
	              </div>
	              <div class="media mt-4">
	                <div class="media-body right">
	                  <div class="row">
	                    <div class="col-12 d-flex">
	                    	<% comment.replies.each do |reply| %>
	                      <h5><%=reply.user.email%></h5> 
	                     <!--  <span>3 hours ago</span> -->
	                    </div><%=reply.text%>	
	                    <%end%>
	                  </div> 
	                
	                </div>
	              </div>
	           
	          </div>
          </div>
        </div>



 <%end%>
