
<br><br><br>
<div class="card my-1">
  <div class="card-body">
    <p class="font-weight-bold">Comments</p>

    <%= form_with(model: @new_comment, url: post_comment_create_reply_path(@post, @comment)) do |f|  %>
      <div class="form-group">
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.label 'New comment' %>
        <%= f.text_area :text, class: 'form-control' %>
        <% @comment.errors.full_messages_for(:text).each do |message| %>
          <div class="alert alert-danger" role="alert">
            <%= message %>
          </div>
        <%end%>
      
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
      <%#debugger%>
    <% end %>
  </div>
</div>


