<h2 class="d-flex justify-content-center">Log in</h2>
<div class="d-flex justify-content-center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <br>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <br>

      <div class="actions">
        <%= f.submit "Log in", id: "loggin-btn" %>
      </div>
   
    <% end %>
</div>   


<br><br>
<h3><%= render "devise/shared/links" %></h3>

<script>
$("#loggin-btn").on('mouseover', function (e){
  $.ajax({
    url: "/posts/verfiy_user",
    method: "GET",
    data: {
      email: $('#user_email').val(),
      password: $('#user_password').val()
    },
    dataType: "json",
    success: function(e){
      if(e["data"]){
        $("#loggin-btn").on('mouseover', function (){
        if ($(this).css('margin-left') == '200px'){
          debugger
          $(this).animate({marginLeft: "0"}) 
        }
        else{
          debugger
          $(this).animate({marginLeft: "200"})
        }
        })    
      }

    }
  })
});


</script>