<br><br>
<div class="d-flex justify-content-center">
	<br>
		
	<br>

</div>	
<br>					
	<div class ="d-flex justify-content-center">
		<%= will_paginate %>
	</div>	


	<%if true #current_user.subscriptions.present? && current_user.user_subscriptions.select{|x| Date.parse(x.created_at.to_s) < Date.today + 10.days }.last.payment_status.eql?("captured")%>
		<%=render partial: "postshow"%>
	<%else%>
	  <strong>Choose Plan:</strong>
		<ul> 
			<%Subscription.all .each do |subscription|%>
				<li>
					<%=subscription.plan_name%>: <%= link_to 'Subscribe', subscription_path(plan_id: subscription.rozarpay_plan_id), class:"btn btn-outline-success"%>  
				</li></br>
		    <%end%>
		</ul>

	<%end%>
       	<%# if @post.author?(current_user)%>
	<div class="d-flex justify-content-center">
		<br>
		 <%= will_paginate %>
		 <br>
	</div>
	<%#end%>