<br><br>

 <% if @post.author?(current_user)%>
 <div class="container">
  <div class="card">
    <div class="col-md-4 ">
    </div><div class="d-flex justify-content-end">
      <div class="card" style="width: 10rem;, height: 10rem;">
        <div class="card-header">
         Likes by users!!
       </div>
        <ul class="list-group list-group-flush overflow-scroll adjust_height">
          <% @likes.each do |like| %>
          <li class="list-group-item"><%=  like.user.email %></li>
          <%end%>
        </ul>   
      </div>
    <%end%>
    <div class="d-flex justify-content-center">
      <div class="main-card card text-center" style="width: 50rem;, height: 50rem;">
        <div class="card-header">
          <%= @post.user.first_name%>
          <%= @post.user.last_name%>
        </div>
        <div class="card-body">
          <h4 class="card-title"><%=@post.title%></h4>
          <%if @post.image.attached?%>
          <p>
            <%image_tag @post.image, :size => "200x200" %>
          </p>
          <%end%>
          <p class="card-text"><%= @post.body.body%></p>
          <a><%= link_to 'Back!!', posts_path, class:"btn btn-primary"%></a>
          <a><%= link_to 'Comment!',   new_post_comment_path(@post),class:"btn btn-primary"%></a>

        </div>
          <button class = "test"> Bored!! </button>
      </div> 
    </div> 

  <br><br>


  <div class="row d-flex justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-0 border" style="background-color: #f0f2f5;">
        <div class="card-body p-4">
          <% @comment.each do |comment| %>

          <div class="card mb-4">
            <div class="card-body">

              <p><%=comment.text%> </p>
              <% comment.replies.each do |reply| %>
              <%# if reply.parent_id == comment.id %>
              <p>
                <a><%=reply.text%></a> -by
                <a><%=reply.user.email%></a>
                
                <%= link_to 'reply', post_comment_new_reply_path(@post ,comment_id: comment.id) %>

              </p>
                  <%end%>
                  <div class="d-flex justify-content-end">
                    <%= link_to 'reply', post_comment_new_reply_path(@post ,comment_id: comment.id) %>
                    <%= link_to 'Edit!',  edit_post_comment_path(comment.post, comment)%>
                    <%= link_to 'Delete',  comment_path(comment.id),  method: :delete,data: { confirm: "Are you sure?" }%>

                  </div>


                  <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                      <img
                      src="https://mdbootstrap.com/img/Photos/Avatars/img%20(4).jpg"
                      alt="avatar"
                      width="25"
                      height="25"
                      />
                      <p class="small mb-0 ms-2"><%=comment.user.email%></p>

                      <br>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                      <p class="small text-muted mb-0">Upvote?</p>
                      <i
                      class="far fa-thumbs-up mx-2 fa-xs text-black"
                      style="margin-top: -0.16rem;"
                      ></i>
                      <p class="small text-muted mb-0">3</p>
                    </div>

                  </div>
                </div>

              </div>
              <%end%>
            </div>





<script >

$(".card-body").on({
  mouseenter: function(){
    $(this).css("background-color", "lightgreen");
  },
  mouseleave: function(){
    $(this).css("background-color", "lightblue");
  },
  click: function(){
    $(this).css("background-color", "yellow");
  }
});


$(".test").click(function(){
  $('.trix-content').hide();
  $.get("/posts/get_photo", function(data, status){
    url = data['data'];
    var image = new Image();
    var r= $('<button class = "test1" >Click me</button>');;
    image.src = url;
    $('.card').first().append(image);
    $('.card').first().append(r);
  });
  $(this).remove();
}); 

  // $('.main-card').children().last().click(function(){
  //   debugger
  //   // $('.trix-content').show();
  //   // $('.card').first().remove(image);
  // });

</script>